---
const { osoite, viesti } = Astro.props;

---
<a href={osoite} class="inline-block bg-green-500 text-white font-bold py-3 px-6 rounded-lg hover:bg-green-600 transition-colors text-xl">
    {viesti}
</a>
