---
import Body from "./body.astro";
import Head from "./head.astro";

const { otsikko = "Avainasema", sitestyle = "default" } = Astro.props;
---

<!DOCTYPE html>
<html lang="fi"  class="h-full">
  <Head otsikko={otsikko} sitestyle={sitestyle} />
  <Body>
    <slot/>
  </Body>
</html>